node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
Keystore-credentials.md
# Google Play Submission Key for EAS
pc-api-6081980575756542033-401-ea88dd1cf67d.json

# macOS
.DS_Store
